################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug/BInary-Tree.tlog/unsuccessfulbuild
*.opendb
*.lastbuildstate
*.tlog
*.log
*.pdb
